body {
  font-size: 30px;
}

.wrapper {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "title title title"
    "banner banner bb1"
    "banner banner bb2"
    "side-menu main main"
    "tags main main"
    "recent main main"
    "footer footer footer";
}
.wrapper > * {
  display: grid;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
}

.header {
  background: black;
  color: aliceblue;
  grid-area: header;
}
.title {
  background: red;
  grid-area: title;
}
.banner {
  background: radial-gradient(red, gold, purple);
  grid-area: banner;
}
.bb1 {
  background: green;
  grid-area: bb1;
}

.bb2 {
  background: yellowgreen;
  grid-area: bb2;
}

.side-menu {
  background: linear-gradient(145deg, salmon, red, blue);

  grid-area: side-menu;
}

.tags {
  background: chocolate;
  grid-area: tags;
}

.recent {
  background: gold;
  grid-area: recent;
}

.main {
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
}
.main > div {
  background: blueviolet;
  color: silver;
  min-width: 200px;
  min-height: 200px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border-radius: 5pc;
  flex: 1;
  box-shadow: -15px 15px 11px grey;
}
.footer {
  background: black;
  color: aliceblue;
  grid-area: footer;
}
/*   768px(ipad) */
@media (max-width: 768px) {
  .wrapper {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: auto;
    grid-template-areas:
      "header header"
      "title title"
      "banner banner"
      "bb1 bb2"
      "side-menu side-menu"
      "main main"
      "tags recent"
      "footer footer";
  }
  .banner {
    min-height: 60vh;
  }
  .text {
    font-size: 16px;
  }
}

/* 576px(large phone), */
@media (max-width: 576px) {
  .wrapper {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "title"
      "banner"
      "bb1"
      "bb2"
      "side-menu"
      "main"
      "tags"
      "recent"
      "footer";
  }

  .banner {
    min-height: 60vh;
  }
}
